
@font-face {
	font-family: TT lakes;
    src: url('fonts/TTLakes-BlackItalic.ttf');
    font-family: TT Lakes thin;
    src: url('fonts/TTLakesCondensed-DemiBold.ttf');
}
* {
    box-sizing: content-box;
    padding: 0;
    margin: 0;
}
.header__content{
    display: flex;
    justify-content: space-around;
    margin-right:12px;
    border-bottom: 1px solid #D9FFF5;
    background: #FFFFFF;
}
.main__content{
    font-family: TT Lakes thin;
    display: flex;
    flex-direction: column ;
    background: #F8F8F8;
    padding:0 12px;
}
.menu__content{
    font-family: TT lakes;
    display: flex;
    flex-direction: column ;
    background: #F8F8F8;
}
.button.button-service2, .button.button-search2{
    display: none;
}
.img, .img__dividerone{
    display: none;
}
.img_group{
    margin:6px 12px 14px 0;
}
.img__divider{
margin-top: 16px;
width: 2px;
height: 32px;
background: #EAEAEA;
border-radius: 1px;
margin-right: 1em;
}
.button.button-phone, .button.button-message, .button.button-contact{
display: none;
}
.button{
    background: #FF3E79;
    display: inline-block;
    margin: 1em 0.5em;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    }
    .button.button-main{
        margin-left: 16px;
    }
    .main__title {
        padding: .6em 0;
    }
    .main__title:before{
        content:"|" ;
        width: 1px;
        height: 40px;
       background-color: #41F6D7;
       color: #41F6D7;
       margin-right: 10px;
       border-radius: 2px;
       margin-left: -12px;
       }
       .main__title1{
        display: none ;}
       .main__list{
     display :flex;
     flex-direction: row ;
     padding:0;
     list-style: none;
     overflow-x:scroll;
    }
    .main__item{
     padding:8px 9px 8px 16px;
     margin-right: 12px;
     white-space:nowrap;
    margin-left: 12px;
    }
    .main__item:hover{
        border: 2px solid #B8FFEC; 
        border-radius:6px ;
        padding:8px 12px ;
        background: #FFFFFF;
        box-sizing: content-box;
      margin-bottom: -4px;
       }
    .main__text{
    margin:24px 16px 16px 16px;
    }
    .main__text2{
        display: none;
    }
    text, .menu__text__reputation{
        display: none;
    }
   .menu__text3{
        display: none;
    }
    .menu__text {
  display: none;
    }
       .main__nav{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        padding: .6em 0;
        margin:16px 6px 0px 24px; 
        font-family:TT Lakes thin;
       }
       .main__nav:before{
        content: url(img/icon3.png);
        width: 8px;
        height: 5px;
       margin-right:16px ;
       }
       .img__main{
       Width :320px;
       }
            @media (min-width:768px) {
                .header__content{
                    margin-left: 8px;
                }
                .menu__content{
                    flex-direction: row;
                    background: #F8F8F8;
                }
                .button.button-phone, .button.button-message, .button.button-contact{
        display:inline-block;      
            }
            .img, .img__dividerone{
                display: block;
                margin-top: 0.8em;
                width: 2px;
                height: 32px;
                background: #EAEAEA;
                border-radius: 1px;
                margin-right: 1em;
            }
            .img_group{
                margin-right:250px;
                margin-left: 20px;
            }
            .img, .img__dividerone{
                margin-top: 16px;
                margin-right: 12px;
                margin-left: 12px;
            }
            .img__divider{
                margin:16px 5px 0px 5px  ;
                background: #EAEAEA;
                border-radius: 1px;
                }
                    .main__list{
                        display :flex;
                        flex-direction: row ;
                        list-style: none;
                        overflow-x:scroll;
                        margin-bottom: 40px;
                        }
                           .text{
                               margin-left: 10px;
                           }
                           .main__item:hover{
                            border: 2px solid #B8FFEC; 
                            border-radius:6px ;
                            padding:8px 12px ;
                            background: #FFFFFF;
                            box-sizing: content-box;
                            margin-bottom: -4px;
                           }
                           .text{
                               margin-left: 24px;
                           }
                .main__text{
                    display:none;
                }
                 .main__text2{
                    display:inline;
                    margin:0px 27px 15px 0 ; 
                }
                .main__text3{
                    display: none;
                }
                text, .menu__text__reputation{
                    display: none;
                }
            .menu__text{
                padding: .6em 0;
               display: inline;
               margin: 8px 48px 10px 0;
            }
            .main__nav{
                margin:10px 27px 15px 2px ;
               } 
            .img__main{
                width: 360px;
               display: block;
               border-radius: 5%;
               margin: 0 25px 14px 48px;
                }
            }
        @media  (min-width:1120px){
            .header__content{
                justify-content: space-between;
                border-bottom: none;
                width: 1120px;
                background: #F8F8F8;
                font-family:TT Lakes thin;
            }
            .main__content{
                width: 1120px;
            }
            .menu__content{
                    background: #F8F8F8;
                    width: 1120px;
                }
                .button.button-main,.button.button-phone, .button.button-message, .button.button-contact,
                .button.button-search, .button.button-service{
                    display: none;
                }
                .main__button{
                    display: flex;
                    flex-direction: row;
                }
                .main__title{
                    display: none;
                }
                .img__divider{
                    display: none;
                }
                .img, .img__dividerone{
                    display: none;
                }
                .img_group{
                    display: none;
                }
                .main__title1{
                    display: inline ;
                    margin-top: 16px;
                }
                    .main__title1:before{
                        content:"|" ;
                        width: 1px;
                        height: 40px;
                       background-color: #41F6D7;
                       color: #41F6D7;
                       margin-top: 16px;
                       margin-right: 32px;
                       border-radius: 2px;
                       margin-left: 0;
                       }
            .button.button-service2, .button.button-search2{
                display:inline-block;
            }
            .button.button-service2{
                margin-left: 350px;
                margin-top: 16px;
            }
            .button.button-search2{
             margin-left:15px;
             margin-right: 32px;
             margin-top: 16px;
            }
            .button.button-service2::before{
                position: absolute;
                content:"Оставить заявку";
                Width:125px; 
               
                left: 700px;
                color: #1B1C21;
                font-family:TT Lakes thin;
            }
            .button.button-search2::before{
                position: absolute;
                content:"Статус ремонта";
                Width:125px; 
                height: 24px;
                left: 940px;
                color: #1B1C21;
                font-family:TT Lakes thin;
            }
            .main__list{
                flex-direction: row ;
                flex-wrap: wrap;
                list-style: none;
                overflow-x:visible;
            }
            .main__item__brand{
                display: inline;}
          
           .menu__text{
                display: none;
            }
            p, .main__text2{
                display: none;
            }
            .menu__text3{
                display: inline;
            }
            p, .menu__text4{
                display: inline;
                margin-right: 32px;
            }
                text, .menu__text__reputation{
                    display: inline;
                }
                .text{
                    margin-left: 32px;
                }
            .img__main{
                width: 530px;
             border-radius: 5%;
             margin:0px 28px 0 36px;
                }
                .main__nav{
                    margin:13px 10px 0 10px; 
                   }
        }
